@import url(https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&display=swap);

.App {
  text-align: center;
}

body {
  font-family: 'Libre Franklin', sans-serif;
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(https://mediaproxy.salon.com/width/1200/https://media.salon.com/2021/08/farmers-market-produce-0812211.jpg);
  background-size: 125vw;
  /* background-repeat: no-repeat; */
}

button {
  font-family: 'Libre Franklin', sans-serif;
  text-align: center;
}

.header {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 600;
  text-align: center;
 
}

.form {
  text-align: center;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 500;  
  font-style: italic;
}

.input {
  font-family: 'Libre Franklin', sans-serif;
}

.active, .market:hover {
  background-color: rgb(201, 241, 201);
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.accordion {
  max-width: 600px;
  margin: 2rem auto;
}

.accordion-title {
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: rgb(146, 243, 146, 0.5);
}

.accordion-title:hover {
  background-color: rgb(146, 243, 146, 0.8);
}

.accordion-title,
.accordion-content {
  padding: 1rem;
  padding-left: 1em;
}

.accordion-content {
  background-color: hsl(0, 0%, 100%, 0.5);
}

@media screen and (max-width: 700px) {
  body {
    font-size: 18px;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 500;
  }

  .accordion {
    width: 90%;
  }
}


